@charset "utf-8";
/* CSS Document */



html {scroll-behavior: smooth; font-size: 26px; font-family: Arial, Helvetica, sans-serif;}
.page_m {max-width: 960px; background:url(../images/bg-page.png) repeat; padding: 0; margin: 0 auto;}
.bg-top_m {background:url(../images/bg-top.png) no-repeat; background-position: top; background-size: 100%; display: block; height: 100%; width:100%;}
.btn-s_m {padding-top: 90%; width:100%; text-align: center;}
.bxh_m { padding-top: 10%;}
.nav-pills_m .nav-link_m.active {background: none}
.bg-bxh_m {background:url(../images/bg-bxh.png) no-repeat; background-position: top; background-size: 100%; height: 100%; width:100%;}
.font-size-3vw_m {font-size:3vw;}
.bg-border-bottom_m {background-image: url(../images/bg-border-bottom.png); background-repeat: no-repeat; background-position: center bottom; background-size: 100%;}
.bg-border-right_m {background-image: url(../images/bg-border-right.png); background-repeat: no-repeat; background-position: right bottom; background-size: 1%;}
.w-33_m {width: 33%; overflow: hidden; white-space:nowrap; text-overflow: ellipsis;}
.btn-h_m { width:100%; text-align: center;}
.pt-3vw_m {padding-top: 2%;}
.bg-bottom_m {background:url(../images/bg-bottom.png) no-repeat; background-position: bottom; background-size: 100%; display: block; }
.menu-left_m {position: absolute; left: 1%; top: 15%; background:url(../images/btn-ahgl.png) no-repeat; background-size: 100%; width: 28%; height: 15%;}
.menu-left_m p.menu-link_m {width: 100%; height: 18%; margin-top: 2%;}
.menu-left_m p.menu-link_m.link-first_m {margin-top: 12%}
.menu-right_m {position: absolute; right: 1%; top: 20%; width: 23%; height: 5%;}
.bg-page-sanqua_m {background:url(../images/bg-page-sanqua.png) no-repeat; background-position: top; background-size: contain; display: block; height: 100vh; width:100vw; max-width: 960px; max-height: 450px; margin: 0 auto;}
.bg-page-duatop_m {background:url(../images/bg-page-duatop.png) no-repeat; background-position: top; background-size: contain; display: block; height: 100vh; width:100vw; max-width: 960px; max-height: 450px; margin: 0 auto;}
.phitieu_m {position: absolute; top: 13.9vw; left: 35.2vw; width: 30vw; height: 30vw;}
.phitieu_m .img-phitieu_m {background:url(../images/tieu.png) no-repeat; background-position: top; background-size: contain; display: block; width: 100%; height: 100%}
.tongdiem_m {position: absolute; top: 28.8vw; left: 13vw}
.diemcaonhat_m {position: absolute; top: 28.8vw; left: 76vw}
.font-size-2vw_m {font-size:2vw;}
.phongtudong_m {position: absolute; top: 41vw; left: 5vw}
.bg-line-timing_m {background:url(../images/bg-line-timing.png) no-repeat; background-size: 100%; height: 12px;}
.timing_m {position: absolute; top: 5px; left: 35vw; width: 25%;}
.font-size-1vw_m {font-size:1.6vw;} 
.mt-n1n_m {margin-top: -.8rem}
.account-name_m {position: absolute; top: 5px; left: 62vw; width: 30%;}
.btn-login_m {position: absolute; right: 1vw; top:0; width: 12%;}
.phitieu-status_m {position: absolute; top: 6vw; left: 35vw; width: 40%;}
.toplist-account_m {position: absolute; right: 9vw; top: 15vw; width: 18.6%;}
.text-elipsis-toplist-account_m {width: 100%; overflow: hidden; white-space:nowrap; text-overflow: ellipsis;}
.modal-dangnhap_m {background:url(../images/bg-popup-thongbao-login.png) no-repeat; background-position: top; background-size: contain; display: block; width: 100%; height: 100%}
/* .modal-giaithuong_m {background:url(../images/bg-popup-thongbao.png) no-repeat; background-position: top; background-size: contain; display: block; width: 100% !important; height: 100% !important} */
/* .modal-giaithuong_m {background:url(../images/bg-popup-thongbao.png) no-repeat; background-position: top; background-size: 100%; display: block; width: 100%; height: 100%} */
.text-brown_m {color: #6b5247;}
.text-yellow_m {color: #f69310;}
.border-giaithuong-e_m {border: solid 1px #f69310; border-radius: 8px}

.scroll-modal-body_m {height: 75vw !important; overflow: auto !important;}
.img-dacochu_m {position: absolute; top: 30%; left: 30%}
.modal-tudo_m {background:url(../images/bg-popup-tudo.png) no-repeat; background-position: top; background-size: 100%; display: block; width: 100%; height: 100%}
.valign-middle_m {vertical-align: middle !important;}
.pag-custom_m .page-item_m {margin: 5px;}
.pag-custom_m .page-link_m {background-color: #fcc316; border-color: #fcc316; border-radius: 4px; color:#FFFFFF; padding: 1px 5px}
.pag-custom_m .page-be_m {background-color: #b30101; border-color: #b30101;}
.pag-custom_m .page-item_m.active .page-link_m {background-color: #b30101; border-color: #b30101;}

.bg-chucmung_m {background-image: url(../images/bg-chucmung.png); background-repeat: no-repeat; background-position: top; background-size: 100%; width: 400px; margin: 0 auto;}
.content-chucmung_m {width: 280px; height: 350px; padding-top: 55px;}
.text-chucmung_m {border-radius: 4px; padding: 8px 0;}
.font-size-14_m {font-size: 14px;}
.font-size-18_m {font-size: 18px;}

.modal-giaithuong_m {background:url(../images/bg-popup-giaithuong.png) no-repeat; background-position: top; background-size: 100%; display: block; width: 100%; height: 100%}
.modal-moqua_m {background:url(../images/bg-popup-moqua.png) no-repeat; background-position: top; background-size: 100%; display: block; width: 100%; height: 100%;}
.modal-huongdan_m {background:url(../images/bg-popup-huongdan.png) no-repeat; background-position: top; background-size: 100%; display: block; width: 100%; height: 100%}

.modal-tangtieu_m {background:url(../images/bg-popup-tangtieu.png) no-repeat; background-position: top; background-size: 100%; display: block; width: 100%; height: 100%}
/* Popover Body */
.popover-body {font-size: 14px; padding: 10px !important; color:#FFFFFF !important; animation: blinker 1.5s linear infinite; }
.popover {background-color: #D90000 !important; z-index:100; top:50px !important}
.popover.top .arrow:after{background-color: #D90000 !important;}
.bs-popover-top .arrow::after, .bs-popover-auto[x-placement^="top"] .arrow::after {
  border-top-color: #D90000 !important; }
  .bs-popover-bottom .arrow::after, .bs-popover-auto[x-placement^="bottom"] .arrow::after {
  border-bottom-color: #D90000 !important; }
/* End Popover Body */
.noti-tudo_m {top: 35%; right: 6%;}
.alert-diemdanh_m {position: absolute !important; left: 32%; top: 8%; width: 150px; font-size:12px}

.modal-chonroom_m {background:url(../images/bg-popup-chonroom.png) no-repeat; background-position: top; background-size: 100%; display: block; width: 100%; height: 100%}
.session-chonroom_m {background-image: url(../images/bg-session-chonroom.png); background-repeat: no-repeat; background-position: top; background-size: 100% 100%; width: 100%; height: 120px; margin: 0 auto;}
.session-chonroom_m .scr-c_m {display: inline-block; text-align: center; padding: 10px 0 0 10px; height: 50px;}
.session-chonroom_m .scr-status-open_m  {display: inline-block; position: absolute; top: 8px; right: 0; width: 100px; height: 28px; background-image: url(../images/bg-chonroom-status-open.png); background-repeat: no-repeat; background-position: top; background-size: 100% 100%;}
.session-chonroom_m .scr-status-pending_m  {display: inline-block; position: absolute; top: 8px; right: 0; width: 100px; height: 28px; background-image: url(../images/bg-chonroom-status-pending.png); background-repeat: no-repeat; background-position: top; background-size: 100% 100%;}
.session-chonroom_m .scr-status-close_m  {display: inline-block; position: absolute; top: 8px; right: 0; width: 100px; height: 28px; background-image: url(../images/bg-chonroom-status-close.png); background-repeat: no-repeat; background-position: top; background-size: 100% 100%;}
.text-warning-50 {color:#fefdc3}
.pt-5px {padding-top: 3px !important;}
.pb-3px {padding-bottom: 3px !important;}
.session-chonroom_m .scr-info_m {position: absolute; top: 40px ; right: 10px; width: 100%; height: 50px; text-align: right;}
.session-chonroom_m .scr-playnow_m {position: absolute; bottom: 0 ; left: 0; width: 100%; height: 25px; text-align: center;}





.text-blink_m {animation: blinker 1s linear infinite;}
@keyframes blinker {
  40% {
    opacity: 0.2;
  }
}
.text-shadow_m {color: #fef4b1;
  text-shadow:
    0 0 5px #d94c0c,
    0 0 10px #d94c0c,
    0 0 20px #d94c0c,
    0 0 40px #d94c0c,
    0 0 80px #d94c0c;}

/* Begin our marquee, and inner content */
.marquee_m {
    overflow: hidden;
    position: relative;
    padding-left: 20%;
    /* Some browsers may require -webkit-animation */
    animation: reduce 30s linear infinite;
}

.marquee_inner_m {
	white-space: nowrap;
	display: inline-block;
	/* Some browsers may require -webkit-animation */
	animation: scroll 30s linear infinite;
}
/* Creates two white-to-transparent gradients at the ends of the marquee */
.marquee_m::before, .marquee_m::after {
    z-index: 1;
    top: 0; left: 0;
    width: 50px; height: 100%;
    content: ""; display: block;
}

.marquee_m::after {
    left: auto; right: 0;
    transform: rotate(180deg);
}

@keyframes reduce {
    to {
        padding-left: 0;
    }
}

@keyframes scroll {
    to {
        transform: translateX( -100% );
    }
}
/* End our marquee, and inner content */


@media screen and (min-width:960px) {
.font-size-3vw_m {font-size: 29px;}
.phitieu_m {left: 340px; top: 135px; width: 285px; height: 285px;}

.tongdiem_m {position: absolute; top: 60%; left: 11%}
.diemcaonhat_m {position: absolute; top: 60%; left: 70%}
.phongtudong_m {position: absolute; top: 86%; left: 2%}
.timing_m {position: absolute; top: 1%; left: 36%; width: 30%;}
.account-name_m {position: absolute; top: 0; left: 60%; width: 30%;}
.btn-login_m {position: absolute; right: 1vw; top:0; width: 12%;}
.phitieu-status_m {position: absolute; top: 16%; left: 36%; width: 40%;}
.toplist-account_m {position: absolute; right: 10%; top: 27%; width: 18.6%;}
}

@media screen and (min-width:480px) and (orientation:landscape){
    .font-size-3vw_m {font-size: 14px;}
}

@media screen and (max-width:576px) {
.modal-dangnhap_m {margin: 0}
.modal-giaithuong_m {margin: 0}
.modal-huongdan_m {margin: 0}
.modal-tangtieu_m {margin: 0}
.modal-tudo_m {margin: 0}
.modal-chonroom_m {margin: 0}
.bg-chucmung_m {width: 100% !important; }
.content-chucmung_m {padding-top: 40px !important;}
.content-chucmung_m .pt-2 {padding-top: 5px !important;}
}

@media screen and (min-width:480px) {
.menu-left_m p.menu-link_m {margin-top: 4%;}
.text-phanthuong_m {font-size: 18px}
.text-tudo_m {font-size: 14px;}
}

@media screen and (max-width:640px) {
.timing_m {top: 0;}
.account-name_m {top: 0;}
.btn-login_m {top: -5px;}
}

@media screen and (min-width:767px){
 .scroll-modal-body_m {height: 390px !important; overflow: auto !important;}
}